@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@layer base {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
}